<h2>Sign Up!</h2>

<%= form_for @user, url: signup_path do |f| %>
<%= f.label :username %>
<div><%= f.text_field :username %></div>
<br>
<%= f.label :password %>
<div><%= f.password_field :password %></div>
<%= f.label :password_confirmation %>
<div><%= f.password_field :password_confirmation %></div>

<%= f.submit %>

<% end %>
