<%= javascript_include_tag 'welcome.js' %>
<div class="app-container">
  <h2>Welcome to your lending library!</h2>
  <button class="btn btn-primary all-items">See Items</button>
  <div id="postResult">
    <p id="itemName"></p>
  </div>
</div>
<br>
<br>
<div class="app-footer card card-body" style="width: 18rem;">
  <h4>Donate an item to the library</h4>
  <%= form_for(@item, html: {id: "donationForm"}) do |f| %>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
      <%= f.hidden_field :available, value: true %>
    </div>
    <div class="actions">
      <%= f.submit 'Donate Item', :class => 'donate-item'%>
    </div>
  <% end %>
</div>
