<h2><%= @user.username%>'s Current Loans</h2>
<% if @loans.length == 0 %>
  <h4>No current loans</h4>
  <br>
  <p><%= link_to "Borrow Something", items_path %></p>
  <p><%= link_to "Donate Something", new_item_path %></p>
<% else %>
  <% @loans.each do |loan| %>
    <h4><%= loan.item.name %></h4>
    <p>Borrowed on <%= loan.loan_date.in_time_zone("Eastern Time (US & Canada)").strftime("%B %e, %Y at %I:%M %p") %></p>
    <%= form_for [loan] do |f| %>
    <%= f.hidden_field :return_date, value: Time.current %>
    <%= f.submit value: 'Return This Item' %>
    <% end %>
    <br>
  <% end %>
<% end %>
