<h2><%= @item.name %></h2>
<% if @item.available? %>
  <% status = "Available To Borrow"%>
  <% button_class = "badge-success"%>
<% else %>
  <% status = "Borrowed" %>
  <% button_class = "badge-danger"%>
<% end %>
<h3><span class="badge <%= button_class %>"><%= status %></span></h3>
<br>
<% if !@item.available? %>
<p>Currently borrowed by <%= @loan.user.username %>.</p>
<% end %>
<p>Borrowed <%= @loans.length %> <%="time".pluralize(@loans.length)%>. Donated on <%= @item.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B %e, %Y at %I:%M %p") %></p>

<% if @item.available? %>
  <%= form_for [@item, @loan] do |f| %>
  <%= f.hidden_field :loan_date, value: Time.current %>
  <%= f.submit value: 'Borrow This Item'%>
  <% end %>
<% elsif @loan.user.id == current_user.id %>
  <%= form_for @loan, :url => {:controller => "loans", :action => "update"} do |f| %>
  <%= f.hidden_field :return_date, value: Time.current %>
  <%= f.hidden_field :item_id, value: @loan.item_id %>
  <%= f.submit value: 'Return This Item' %>
  <% end %>
<% else %>
<% end %>

<% if @item.donor_id == current_user.id %>
  <%= link_to "Edit Item", edit_item_path, class: "badge badge-secondary" %>
<% end %>
<br>
<%= link_to " All Items", items_path, class: "badge badge-secondary" %>
